/**
 * fil: css/style.css
 **/

/* Nav bar layout */ 
<!DOCTYPE html>
<html>
<head>
<style>


body {margin:0;}

ul {
list-style-type: none;
display: flex;
margin: 0;
padding: 1,0rem 1rem;
overflow: hidden;
background-color: beige;
position: fixed;
top: 0;
width: 100%;
justify-content: space-between
}

li {
float: left;
text-align: center;
    
}

li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: black;
}

/*header m skrift*/

.header {
margin-bottom: 20px;
padding: 50px;
text-align: center;
background: #1abc9c;
color: white;
font-size: 30px;
width: 100%;
}



/*Artikel 1 */

.artikel1 {
margin-right: 10px;
margin-left: 10px;
    
}

/*Artikel 2 */ 


/* Artikel 3 */


/* responsiv artikler - VIKRER IKKE */

@media only screen and (max-width: 600px) {
    .navbar, .header, .post-image-1, .post-image-2, .post-image-3 {
        width: 100%;
        
    }
}
    
</body>
</html>


